@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #105469 !important;
    font-family: 'Open Sans', sans-serif;
}

.bg-light
{
    background-color: #105469 !important;
}

#crypto-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

table
{
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    width: 30%;
}

table:hover
{
    cursor: pointer;
}

th
{
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}

th:hover
{
    background: #014055;
    transition: 0.25s;
}

td
{
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

td:hover
{
    background: #014055;
    transition: 0.25s;
}

.disabled td
{
    color: #4F5F64;
}

tbody tr
{
    transition: background 0.25s ease;
}

tbody tr:hover
{
    background: #014055;
}

#history-modal
{
    position: fixed;
    top: 15%;
    left: 15%;
    width: 75%;
    height: 70%;
    background-color:#032d3b;
    z-index: 10;
    border-radius: 20px;
}

#background-blur
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    background-color: #1e1e1e70;
}

#close-modal
{
    text-align: right;
    margin-right: 15px;
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#close-modal:hover
{
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

#history-information
{
    width: 60%;
}

#full-graph
{
    width: 100%;
    height: 40%;
}

#crypto-template
{
    display: block;
}

#history-modal-template
{
    display: block;
}

#loading-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes glow
{
    0%
    {
        box-shadow: 0 0 0 0 #dc143c;
    }

    50%
    {
        box-shadow: 0 0 30px 0 #dc143c;
    }
}

@keyframes glow
{
    0%
    {
        box-shadow: 0 0 0 0 #dc143c;
    }

    50%
    {
        box-shadow: 0 0 30px 0 #dc143c;
    }
}

#save-to-database
{
    background: #dc143c;
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 34px;
    box-shadow: 0 0 0 0 #dc143c;
    -webkit-animation: glow 1.4s linear infinite;
    animation: glow 1.4s linear infinite;
}